.root {
  display: flex;
  padding: 0 16px;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 15px;
  align-items: center;

  svg {
    position: absolute;
    left: 12px;
    top: 9px;
    color: var(--accent);
    width: 20px;
    height: 20px;
  }
}

.centeredLabel {
  flex-direction: column;
  label {
    text-align: center;
  }
}

.label {
  font-size: 1rem;
  font-weight: 500;
  line-height: 35px;
  color: var(--text-primary);
  cursor: pointer;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.input {
  box-sizing: border-box;
  position: relative;
  all: unset;
  flex: 10;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 16px;
  line-height: 26px;
  font-size: 1rem;
  color: var(--text-primary);

  border-radius: var(--border-radius-2);
  border: 1px solid var(--border-color-inactive);

  transition: border-color 0.3s, box-shadow 0.3s;

  &:hover {
    box-shadow: var(--shadow-primary, none);
    border-color: var(--border-color);
  }
  &:focus-within {
    box-shadow: var(--shadow-primary, none);
    border-color: var(--border-color);
  }
}

.emailInput {
  padding-left: 40px;
}
