.root {
  padding-top: 64px;
  background-color: var(--background);
}

.row {
  container-type: inline-size;
  position: relative;
  overflow: clip;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.description {
  max-width: 80ch;
}
