.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  container-type: inline-size;
}

.nav {
  position: absolute;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  border-bottom: 1px solid;
  border-color: transparent;
  padding-block: 12px;
  padding-inline: 120px;
  transition: all 0.5s ease-in-out;

  @container (max-width: 50rem) {
    padding-inline: 32px;
  }

  img {
    height: 50px;
  }
}

.linksMenu {
  @container (min-width: 50rem) {
    display: none;
  }
}

.linksWrapper {
  display: flex;
  gap: 48px;

  @container (max-width: 50rem) {
    display: none;
  }
}

.navLink {
  display: block;
  color: var(--text-secondary);
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  --underline-width: 0;
  --underline-opacity: 0;
  transition: all 0.2s ease-in-out;
  &:after {
    content: '';
    position: relative;
    display: block;
    left: -8px;
    bottom: -0.1em;
    background-color: var(--text-primary);
    height: 2px;
    width: var(--underline-width);
    opacity: var(--underline-opacity);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    color: var(--text-primary);
    --underline-width: calc(100% + 16px);
    --underline-opacity: 1;
  }
}

.activeLink {
  color: var(--text-primary);
  --underline-width: calc(100% + 16px);
  --underline-opacity: 1;
}

.nav::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--header);
  backdrop-filter: blur(12px) saturate(1.15);
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

.sticky {
  height: 84px;
  border-color: var(--border-color);
  box-shadow: 0px 0px 10px 3px var(--background);
  &:before {
    transform: translateY(0%);
  }
}
